.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #000000;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: all;
  &:hover {
    opacity: 0.5;
  }
}
.gray {
  @extend .button;

  background-color: #909090;
}
.green {
  @extend .button;

  background-color: #0a8041;
}
