@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(15, 15, 15, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  appearance: none; /* Removes default styling in most modern browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  font: inherit;
  color: inherit;
}

/* ADDITIONAL INFO ON PRODUCT */
.html-content a {
  text-decoration: underline;
  color: var(--primary-400);
}

.html-content ul {
  list-style-type: disc; /* Ensure bullets appear */
  margin-left: 40px !important; /* Add indentation */
}

.html-content ol {
  list-style-type: decimal; /* Ensure numbers appear */
  margin-left: 40px !important;
}

.html-content li {
  margin-bottom: 5px; /* Optional: Add spacing */
}

/* HTML content */
.html-content h1 {
  @apply text-4xl;
}
.html-content h2 {
  @apply text-3xl;
}
.html-content h3 {
  @apply text-2xl;
}
